version: 2
jobs:
  build:
    docker:
      - image: circleci/openjdk:9-jdk
    branches:
      only:
        - assignment5
    steps:
      - checkout

      - run:
          name: Install packages
          command: sudo apt-get update && sudo apt-get install wget zip unzip python2.7 python-pip -y

      - run:
          name: Install awscli
          command: sudo pip install awscli

      - run:
          name: Build Artifact
          command: |
            pwd
            ls -al
            cd webapp/CloudWebApp
            mvn clean package
            cd target/
            ls -al
            cd ../../../
            pwd
            ls -al
      - run:
          name: Zip Artifact
          command: |
            echo "Hello the current build number is ${CIRCLE_BUILD_NUM}"
            pwd
            mkdir -p codedeploy_artifact
            zip -r csye6225-web-app-${CIRCLE_BUILD_NUM}.zip webapp/CloudWebApp/target/webapp.war infrastructure/aws/codedeploy/*.sh *.yml
            mv csye6225-web-app-${CIRCLE_BUILD_NUM}.zip codedeploy_artifact/
            cd codedeploy_artifact
            ls -al
            pwd
            cd ..
            pwd
            ls -al
      - run:
          name: Upload Artifact to S3
          command: |
            aws s3 sync codedeploy_artifact s3://${BUCKET_NAME}
      - run:
          name: Code Deploy
          command: |
            aws deploy create-deployment --application-name csye6225-webapp \
            --deployment-config-name CodeDeployDefault.AllAtOnce \
            --deployment-group-name csye6225-webapp-deployment \
            --description "CSYE6255 - CodeDeploy" \
            --s3-location bucket=${BUCKET_NAME},key=csye6225-web-app-${CIRCLE_BUILD_NUM}.zip,bundleType=zip
